---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main class="w-full flex flex-col items-center gap-14 mt-4 mb-14">
    <header
      class="text-center w-[620px] max-[1026px]:w-[340px] flex flex-col max-[1026px]:gap-3"
    >
      <h1 class="text-[4rem] max-[1026px]:text-[2.4rem] font-bold">
        Interested in our business pricing?
      </h1>
      <p class="text-[2rem] max-[1026px]:text-lg text-[#CDD5E0]">
        Fill out the form to view details and we'll conctact you as soon as
        possible.
      </p>
    </header>
    <section>
      <form
        class="p-8 max-[600px]:p-4 bg-[#f8fafc42] text-[#111729] font-bold w-[920px] max-[1026px]:w-[950px] max-[950px]:w-[600px] max-[600px]:w-full rounded-xl flex flex-col gap-6"
      >
        <div class="flex max-[950px]:flex-col gap-4 w-full">
          <div class="flex flex-col w-full">
            <label class="text-sm text-white" for="name">Name</label>
            <input
              type="text"
              id="name"
              placeholder="Etham Johson"
              class="p-4 placeholder-[#CDD5E0] w-full rounded-2xl"
            />
          </div>
          <div class="flex flex-col w-full">
            <label class="text-sm text-white" for="company-email"
              >Company Email</label
            >
            <input
              type="email"
              id="company-email"
              placeholder="ethan@johnson.com"
              class="p-4 placeholder-[#CDD5E0] w-full rounded-2xl"
            />
          </div>
        </div>
        <div class="flex max-[950px]:flex-col gap-4 w-full">
          <div class="flex flex-col w-full">
            <label class="text-sm text-white" for="company-size"
              >Company Size</label
            >
            <select
              class="p-4 w-full rounded-2xl"
              name="company-size"
              id="company-size"
            >
              <option value="50-100-employees">50-100 employees</option>
              <option value="101-300-employees">101-300 employees</option>
            </select>
          </div>
          <div class="flex flex-col w-full">
            <label class="text-sm text-white" for="subject">Subject</label>
            <select class="p-4 w-full rounded-2xl" name="subject" id="subject">
              <option value="building-landing-pages">
                Building Landing pages
              </option>
              <option value="building-ecommerse-pages">
                Building Ecommerse pages
              </option>
            </select>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <label class="text-sm text-white" for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            class="rounded-2xl p-4">50-100 employees</textarea
          >
        </div>
        <div class="w-ful">
          <button
            type="submit"
            class="bg-white rounded-2xl w-full text-[#4036A9] p-4"
            >Contact Sales</button
          >
        </div>
      </form>
    </section>
  </main>
</Layout>

<style>
  h1 {
    line-height: 5.8rem;
  }

  @media (max-width: 1026px) {
    h1 {
      line-height: 4rem;
    }
  }
  input,
  textarea {
    outline: none;
  }
  label {
    font-weight: normal;
  }
  input,
  select {
    height: 4.5rem;
  }
  button {
    letter-spacing: -0.05rem;
    word-spacing: 0.2rem;
    height: 4.5rem;
    font-size: 1.25rem;
  }
</style>
